/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.starWarsEditor{
    border:2px inset black;
    min-height:200px;
    padding: 18px 36px 18px 36px;
    max-width:324px;
    background:white;
    
    form{    
        input{
            font-family: 'Luckiest Guy', cursive;
            color:black;
            width:100%;
            font-size:29px;
            display:block;
            background:inherit;
            border:none;
            font-weight: 500;
            padding:0;
        }
        input:focus{
            outline:none;
            border:2px solid orangered;
        }
        p{
            border:2px outset black;
            margin: 0 auto 0 auto;
            display:block;
            width:100%;
            background:white;
        }
    }
}
