/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.starWarsWidget{
    ul{
        padding-left:0;
    }
}

//applied if the widget is being forced into a larger width than the default 18em
.starWarsWidgetResized{
    font-family: 'Luckiest Guy', cursive;
    font-size:29px;
    color:black;
    display:block;
    margin-bottom:8px;
    text-align: center;
    width: 100%;
}

//align center
.aligncenter{
    .starWarsWidget{
        margin-left:auto;
        margin-right:auto;
    }
}
