.starWarsWidget{
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    border:2px inset black;
    min-height:200px;
    padding: 1em 0 1em 0;
    background:lightgray;
    
    form{
        width:70%;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        label{
            
            margin-bottom:1em;
            font-size:24px;
            font-weight: bold;
        }
        input{
            border:2px outset black;
        }
    }
    ul{
        
        margin-top:2em;
        margin-left:auto;
        margin-right:auto;
        
        
        //for mobile widths
        @media only screen and (max-width: 450px) {
            width:90%;
        }
        
        li{
            display:grid;
            grid-template-columns: 55% auto;
            div:nth-child(1){
                font-weight: 600;
                text-align: right;
                margin-right:2em;
            }
            div:nth-child(2){
                text-align: left;
                padding-right:20px;
            }
        }
        
    }
}
//my modifications of the jquery ui css
//hide the helper off screen
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

//makes the background of the row lightgrey when hovered
.ui-menu-item:hover,.auto-complete-active{
    background:lightblue;
    border: 1px outset black;
    margin:0;
    padding:0.5rem 0 0 0rem;
}